/***** General *****/

body {
  font-family: "Open Sans";
  overflow-y: scroll;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 5px;
}

ul {
  padding-left: 40px;
}

li {
  margin: 8px 0;
}

p {
    line-height: 1.6em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #d6d6d6;
}

th {
  background-color: #3dd29b;
  color: white;
}

iframe, object {
    width: 100%;
}

:link, :visited {
  color: #039be5;
  outline: 0;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1.25em;
  box-sizing: border-box;
}

/***** Header & Navigation *****/

header {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

header, nav {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;

}

.main-nav {
  position: relative;
}

.main-nav ul {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0;
}

.main-nav li a {
  color: #000;
  text-decoration: none;
}

.main-nav ul li a {
  text-decoration: none;
  padding: 14px 10px;
}

.main-nav ul li:hover {
  background-color: #3dd29b;
  color: #fff;
  transition: 0.3s ease-out;
}

.main-nav ul li:hover a {
  color: #fff;
  padding: 14px 10px;
}

.main-nav ul li:first-child:hover {
  background-color: #2399d6;
}

.main-nav ul li:nth-child(2):hover {
  background-color: #5aac2f;
}

.main-nav ul li:nth-child(3):hover {
  background-color: #f2be08;
}

.main-nav ul li:nth-child(4):hover {
  background-color: #f06717;
}

.main-nav ul li:nth-child(5):hover {
  background-color: #d40079;
}

.main-nav ul li:nth-child(6):hover {
  background-color: #8a1ebc;
}

.main-nav ul li:nth-child(7):hover {
  background-color: #4d513d;
}

ul.sub-menu {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
    width: 100%;
    text-align: center;
}

.b {
    display: inline-block;
    position: relative;
    float: left;
    margin: 1%;
    width: 46%;
    background-color: lightgrey;
}

.b:nth-child(2) {
  background-color: #f2aee4;
}
.main-nav ul li:hover ul.sub-menu {
    display: block;
}

ul.sub-menu li {
    display: block;
    width: 100%;
    text-align: center;
}

.main-nav ul li .sub-menu li:hover {
    background: #eaeaea;
}

.main-nav ul li .sub-menu li a {
    color: #000;
}


.login{
  display:center;
  float:left;
  margin:20%;
}

#site-logo {
  height: 35px;
  margin: 7.5px 0;
  display: inline-block;
}

#show-menu, .show-menu {
  display: none;
}



@media (max-width: 768px) { /***** Responsive nav bar *****/

  .show-menu {
    display: inline-block;
    float: right;
    background-image: url("../img/threelines.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-top: 7.5px;
  }

  .main-nav ul {
    display: none;
  }

  .main-nav ul li {
    display: block;
    background-color: #fff;
    text-align: center;
  }

  .main-nav ul li:last-child {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  }

  input[type=checkbox]:checked ~ ul {
    display: block;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
  }
}


.hero-title {
  color: #fff;
  text-align: center;
  margin: 150px 0 20px;
  font-size: 48px;
}

.cta {
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  background: #3dd29b;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  outline: none;
  color: #fff;
      border-bottom: 4px solid rgb(31, 114, 83);
}

.cta a {
  color: #fff;
  text-decoration: none;
}

.cta:active {
  background: #16A085;
}

/***** Main Content *****/

#anchor {
  padding: 50px 0;
}

.content {
  margin: 50px auto;
  padding: 0 20px;
}


/***Keep Calm and let Fonseca Handle it******/




/***** Footer ******/

.main-footer {
  position: absolute;
  bottom: 0;
  width:100%;
  /*padding: 1rem;*/
  background-color: #efefef;
  text-align: center;
}

.copyright {
    text-align: center;
}

/*MODAL*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 130px;

}
/* Modal Content/Box */
.modal-content {
    /*padding-top: 2%;*/
    background-color: #fff;
    text-align: center;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 51%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #1e1e1e;
}
/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 0;
    margin-top: -5px;
    padding: 0;
    color: #1e1e1e;
    font-size: 35px;
    font-weight: bold;
}
/* Close button on hover */
.close:hover,
.close:focus {
    color: gray;
    cursor: pointer;
    transition: 0.3s ease-out;

}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.loginButtons{
  /*margin-top: 10%;*/
  text-align: center;
  padding: 10%;


}

/*Styling for each button*/
.ifaButton{
  width: 300px;
  height: 100px;
  font-size: 30px;
  background-color: #1e1e1e;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-left: 50px;
  border: none;

}

.ifaButton:hover{
  background-color: #b7b7b7;
  cursor: pointer;
  transition: 0.3s ease-out;


}
.clientButton{
  width: 300px;
  height: 100px;
  font-size: 30px;
  background-color: #1e1e1e;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
  border: none;

}

.clientButton:hover{
  background-color: #b7b7b7;
  cursor: pointer;
  transition: 0.3s ease-out;

}

.B1 {
  background-color: #1e1e1e;
  border: 5px solid #4c4c4c;
  border: 2px solid #4c4c4c;
  color: #4c4c4c;
  height: 10%;
  border-radius: 5%;
  font-weight: bold;
  width: 10%;
  height: 10%;
}
.B1:hover{
	background-color:#bbbecc;
  cursor: pointer;
}

#loginheader{
  color: black;
}
.submitButton{
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #1e1e1e;
  border-radius: 1px;
}

.submitButton:hover{
  background-color: #b7b7b7;
  cursor: pointer;
  transition: 0.3s ease-out;

}

/******************************************************************************/
/*********************MEDIA QUERIES********************************************/
/******************************************************************************/


@media screen and (max-width:937px) {
.ifaButton{
  display: block;
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;

}

.clientButton{
  display: block;
  float: left;
  margin-bottom: 10%;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;

}
footer{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}
