{%extends 'login-style.html'%}


{%block mainBlock%}
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h3>BEWARE! These tools can delete a whole table in a single link. Please be careful what you click...</h3>
          <ul id = "adminCommands">
						<!-- <li><a href = "AdminPanel">Admin Panel</a></li> -->
            <li><a href = "\Admin\reCreateDB">reCreate ALL DB TABLES</a></li>
            <li><a href = "\Admin\DeleteDB">Delete ALL DB TABLES</a></li>
            <li><a href = "\Admin\ListAll">LIST DB TABLES</a></li>
          </ul>
					{{msg}}
				</article>
			</section>
	</div>
{%endblock%}
