{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
      {% for item in data%}

      <table>
        <tr>
          <th>Income source (GROSS)</th>
          <th>CJ</th>
          <th>DP</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Pensions</td>
          <td>{{item[1]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Investments</td>
          <td>{{item[2]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Rental Properties</td>
          <td>{{item[3]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Vehicles</td>
          <td>{{item[4]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Personal Effects</td>
          <td>{{item[5]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Business Interests</td>
          <td>{{item[6]}}</td>
          <td></td>
          <td></td>
        </tr>
      </table


      {%endfor%}
    </article>
  </section>
</div>
{%endblock%}
