{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
      {% for item in data%}
      
          <div class="b">
            <table>
              <tr>
                <th>Title</th>
                <th>Forename</th>
                <th>Init</th>
                <th>Surname</th>
                <th>Prefers</th>
                <th>Age</th>
              </tr>
              <tr>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th>Sex</th>
                <th>DOB</th>
                <th>M Status</th>
                <th>Maiden Name</th>
                <th>Retire @</th>
              </tr>
              <tr>
                <td>{{item[7]}}</td>
                <td>{{item[8]}}</td>
                <td>{{item[9]}}</td>
                <td>{{item[10]}}</td>
                <td>{{item[11]}}</td>

              </tr>
            </table>
            <p>Contact Info: {{item[12]}}</p>
            <p>Telephone: 0{{item[13]}}</p>
            <p>Ethical /Religious beliefs that might affect Financial Planning ? : {{item[16]}}</p>
            <p>Anticipated changes to your circumstances (in next 5 years) ? : {{item[17]}}</p>

          </div>
      <div class="b">
        <table>
          <tr>
            <th>Title</th>
            <th>Forename</th>
            <th>Init</th>
            <th>Surname</th>
            <th>Prefers</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
          </tr>
        </table>
        <table>
          <tr>
            <th>Sex</th>
            <th>DOB</th>
            <th>M Status</th>
            <th>Maiden Name</th>
            <th>Retire @</th>
          </tr>
          <tr>
            <td>{{item[7]}}</td>
            <td>{{item[8]}}</td>
            <td>{{item[9]}}</td>
            <td>{{item[10]}}</td>
            <td>{{item[11]}}</td>

          </tr>
        </table>
        <p>Contact Info: {{item[12]}}</p>
        <p>Telephone: 0{{item[13]}}</p>
        <p>Ethical /Religious beliefs that might affect Financial Planning ? : {{item[16]}}</p>
        <p>Anticipated changes to your circumstances (in next 5 years) ? : {{item[17]}}</p>

    </div>
      {%endfor%}
    </article>
  </section>
</div>
{%endblock%}
