{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
			<p>Here are your Dependancies</p>
      {% for item in data%}

				<table>
					<tr>
						<th>Name</th>
						<th>Age</th>
						<th>Gender</th>
						<th>Disability</th>
					</tr>
					<tr>
						<td>{{item[1]}}</td>
						<td>{{item[2]}}</td>
						<td>{{item[3]}}</td>
						<td>{{item[4]}}</td>
					</tr>
				</table>

      {%endfor%}
    </article>
  </section>
</div>
{%endblock%}
