{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
      {% for item in data%}

			<table>
				<tr>
					<th>Property</th>
					<td>{{item[1]}}</td>
				</tr>
				<tr>
					<th>housekeeping</th>
					<td>{{item[2]}}</td>
				</tr>
				<tr>
					<th>transport</th>
					<td>{{item[3]}}</td>
				</tr>
				<tr>
					<th>dependants</th>
					<td>{{item[4]}}</td>
				</tr>
				<tr>
					<th>pets</th>
					<td>{{item[5]}}</td>
				</tr>
				<tr>
					<th>professional fees</th>
					<td>{{item[6]}}</td>
				</tr>
				<tr>
					<th>Cost of Borrowing</th>
					<td>{{item[7]}}</td>
				</tr>
				<tr>
					<th>Regular Savings</th>
					<td>{{item[8]}}</td>
				</tr>
				<tr>
					<th>Protection Policies</th>
					<td>{{item[9]}}</td>
				</tr>
				<tr>
					<th>other</th>
					<td>{{item[10]}}</td>
				</tr>
					<th>Discretionary Spending</th>
					<td>{{item[11]}}</td>
				</tr>

      {%endfor%}
    </article>
  </section>
</div>


{%endblock%}
