{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
      {% for item in data%}

        <div class="b">
        <p> Your Health Status is {{item[1]}}</p>
        <p> Are you a smoker? {{item[2]}}</p>
        <p> Are you a Drinker? {{item[4]}}</p>
        <p> Your Height is {{item[6]}}</p>
        <p> Your weight is {{item[7]}}</p>
        <p> Any Medical Conditions? {{item[8]}}</p>
        <p> Any Hazardous Pursuits? {{item[9]}}</p>
      </div>
        <div class="b">						<p> Your Health Status is {{item[1]}}</p>
                    <p> Are you a smoker? {{item[2]}}</p>
                    <p> Are you a Drinker? {{item[4]}}</p>
                    <p> Your Height is {{item[6]}}</p>
                    <p> Your weight is {{item[7]}}</p>
                    <p> Any Medical Conditions? {{item[8]}}</p>
                    <p> Any Hazardous Pursuits? {{item[9]}}</p></div>
      {%endfor%}
    </article>
  </section>
</div>
{%endblock%}
