{%extends 'login-style.html'%}


{%block mainBlock%}
<h3>Welcome Admin!</h3>
<p> From here you can do many things, Click on a part of the menu to view client details. Alternatively add or remove tables with the Admin function, take great care with this tool however!</p>
<h2>Help</h2>
<p>The headers above show the forms that were filled in by the client. These can be viewed by you the Admin. The search function can be used to view Clients
  if they are searched for. It is important to note that alot of information provided by the clients are sensitive. And with accordance with the Data Protection act
  we try to keep the information secure. As an Admin you have full access to remove and re create tables. These should only be used in case of emergency.</p>
<p>If nothing shows up when you click on the menus then that could mean a few things:
  <ul>
    <li> The database is empty and there is no data stored for that particular client. </li>
    <li> There is an error in the code, which means there is no communication between the client and the database. </li>
    <li> Issue with the server. </li>
  </ul>
{%endblock%}
