{%extends 'login-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
  <section>
    <article>
      {% for item in data%}

      <table>
        <tr>
          <th>Income source (GROSS)</th>
          <th>CJ</th>
          <th>DP</th>
          <th>Total</th>
        </tr>
        <tr>
          <th>Employment</th>
          <td>{{item[1]}}</td>
          <td> </td>
        </tr>
        <tr>
          <td>Pensions</td>
          <td>{{item[3]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Interest</td>
          <td>{{item[4]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Rental</td>
          <td>{{item[5]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Capital</td>
          <td>{{item[6]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Maintenance</td>
          <td>{{item[7]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Insurance</td>
          <td>{{item[8]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Benefit</td>
          <td>{{item[9]}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Self Employed</td>
          <td>{{item[2]}}</td>
          <td></td>
          <td></td>
        </tr>
      </table>

      {%endfor%}
    </article>
  </section>
</div>
{%endblock%}
