{%extends 'nologin-style.html'%}


{%block mainBlock%}
<div class="wrapper" id="anchor">
	<section>
		<article class="contentContainer">
			<h1>Welcome!</h1>
			<p>We start our fact-finds by covering the Financial Conduct Authority (FCA) regulatory
				 requirements – the ‘know-your-client’ requirement, which all advisers have to meet.
				 We ask for all the basic information – full name, date of birth, national insurance number
				 and so on – and financial information, including details of assets and existing investment schemes. </p>
			<p> Please <a href="/SignupClient">signup</a> to continue <p>
</article>


<table align="right">
<tr>
<th>Who are we?</th>
<th>What we Do?</th>
<th>Why Us?
</tr>
<tr>
<td>We are a small company but we are striving to become one of the best.</td>
<td>As we are Independent Financial Advisers otherwised refered to as IFAs we are professionals who
	offer independent advice on financial matters to our clients</td>
<td>We suggest choosing us if you want professionalism and experience.</td>
</tr>
</table>
	</article>
{%endblock%}
