{%extends 'nologin-style.html'%}


{%block mainBlock%}
<article class="login">
<div id='login_form'>
  <form id='myForm' action="/Login" method="post">
    User name:<input type = "text" name = "username"><br>
    Password:<input type = "password" name = "password"><br>
    <button type = "submit"> submit </button>
  </form>
  <p> Please login as Admin to continue!</p>
</div>
</article>
{%endblock%}
