<!DOCTYPE html>
<html lang="en">

<head>
  <title>IFA Project</title>
  <meta name="author" content="Raj Chand, Morgan Jones, Reagan Vose and Dome Fonseca">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href='/static/img/favicon.ico' type='image/ico' />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href="/static/css/reset.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="main-nav wrapper">
			<img id="site-logo" src="/static/img/logo.png" alt="Site Logo"/></img>
      <label for="show-menu" class="show-menu"></label>
      <input type="checkbox" id="show-menu" role="button">
			<ul>
				<li><a href="/Login">Login as Admin</a></li>
			</ul>
		</nav>
	</header>

		<article>
			{% block mainBlock%}

      {%endblock%}
		</article>
			</section>
</body>
</html>
