<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Health</title>
	<meta name="author" content="Raj Chand, Morgan Jones, Reagan Vose and Dom Fonseca">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' href='img/favicon.ico' type='image/ico' />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="main-nav wrapper">
			<a href="home.html" rel="Home"><img id="site-logo" src="img/logo.png" alt="Site Logo" />	</a>
			<label for="show-menu" class="show-menu"></label>
			<input type="checkbox" id="show-menu" role="button">
			<ul>
				<li><a href="\People">People</a></li>
				<li><a href="">Finances</a></li>
				<li><a href="">Advice Areas</a></li>
				<li><a href="">Cash Flow</a></li>
				<li><a href="">Reports</a></li>
				<li><a href="\login">LOGOUT</a></li>
				<li><a href="\Admin">Admin</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
          <form id = "healthForm" onsubmit="return loadHealth()">
            Health Status: <input type = "text" name = "healthStatus"><br>
            Smoker Status: <input type = "text" name = "smokerStatus"><br>
            Cigarettes a day: <input type = "integer" name = "cigsADay"><br>
            Drinker Status: <input type = "text" name = "drinkerStatus"><br>
            Units per week: <input type = "integer" name = "unitsAWeek"><br>
            Height: <input type = "real" name = "height"><br>
            Weight: <input type = "real" name = "weight"><br>
            Medical Conditions: <input type = "text" name = "medicalConditions"><br>
            Hazardous Pursuits: <input type = "text" name = "hazardousPursuits"><br>
            <button type = "healthSubmit"> Submit </button>
          </form>
				<div id = 'txt'>
				</div>
				</article>
			</section>
	</div>
		<footer class="main-footer">
			<section class="wrapper">
				<small class="copyright">copyright</small>
			</section>
		</footer>
		<script>
 			function loadHealth() {
   			var healthStatus = document.forms["healthForm"]["healthStatus"].value;
   			var smokerStatus = document.forms["healthForm"]["smokerStatus"].value;
   			var cigsADay = document.forms["healthForm"]["cigsADay"].value;
				var drinkerStatus = document.forms["healthForm"]["drinkerStatus"].value;
				var unitsAWeek = document.forms["healthForm"]["unitsAWeek"].value;
				var height = document.forms["healthForm"]["height"].value;
				var weight = document.forms["healthForm"]["weight"].value;
				var medicalConditions = document.forms["healthForm"]["medicalConditions"].value;
				var hazardousPursuits = document.forms["healthForm"]["hazardousPursuits"].value;
   			params = 'healthStatus='+healthStatus+'&smokerStatus='+smokerStatus+'&cigsADay='+cigsADay+'&drinkerStatus='+drinkerStatus+'&unitsAWeek='+unitsAWeek+'&height='+height+'&weight='+weight+'&medicalConditions='+medicalConditions+'&hazardousPursuits='+hazardousPursuits;
		   	var xhttp = new XMLHttpRequest();
   			xhttp.open("POST", '/People/addClientHealth', true); // true is asynchronous
   			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   			xhttp.onload = function() {
	     	  if (xhttp.readyState === 4 && xhttp.status === 200) {
       		  console.log(xhttp.responseText);
       			document.getElementById("txt").innerHTML = xhttp.responseText;
     			} else {
       			console.error(xhttp.statusText);
     			}
   			};
  			xhttp.send(params);
				console.log('i did not crash');
   			return false;
 		}
	</script>
</body>
</html>
