<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Personal Details</title>
	<meta name="author" content="Raj Chand, Morgan Jones, Reagan Vose and Dom Fonseca">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' href='img/favicon.ico' type='image/ico' />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="main-nav wrapper">
			<a href="home.html" rel="Home"><img id="site-logo" src="img/logo.png" alt="Site Logo" />	</a>
			<label for="show-menu" class="show-menu"></label>
			<input type="checkbox" id="show-menu" role="button">
			<ul>
				<li><a href="\People">People</a></li>
				<li><a href="">Finances</a></li>
				<li><a href="">Advice Areas</a></li>
				<li><a href="">Cash Flow</a></li>
				<li><a href="">Reports</a></li>
				<li><a href="\login">LOGOUT</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="wrapper" id="anchor">
			<section id = "mainClientForm">
				<article class="content">
						<form action = "/People/addPersonalDetails" method = "POST">
							<table class ="formTable">
								<tr>
									<td>Title:</td>
									<td> <select name="title">
										  <option value="miss">Miss</option>
										  <option value="mr">Mr</option>
										  <option value="mrs">Mrs</option>
										  <option value="ms">Ms</option>
											<option value="mx">Mx</option>
											<option value="master">Master</option>
											<option value="dr">Dr</option>
											<option value="lord">Lord</option>
											<option value="lady">Lady</option>
										</select></td>
								</tr>
								<tr>
									<td>Forename:</td>
									<td> <input type = "text" name = "forename"></td>
								</tr>
								<tr>
									<td>Initial:</td>
									<td><input type = "text" name = "initial"></td>
								</tr>
								<tr>
									<td>Surname: </td>
									<td><input type = "text" name = "surname"></td>
							</tr>
							<tr>
								<td>Prefered Name:</td>
								<td><input type = "string" name = "preferedName"></td>
							</tr>
							<tr>
								<td>Age:</td>
								<td><input type = "real" name = "age"></td>
							</tr>
							<tr>
								<td>Sex:</td>
								<td><select name="sex">
										  <option value="female">Female</option>
										  <option value="male">Male</option>
										  <option value="other">Other</option>
										  <option value="noSay">Perfer not to say</option>
										</select></td>
							</tr>
							<tr>
								<td>Date Of Birth:</td>
								<td><input type = "date" data-date="" data-date-format="DD MMMM YYYY" name = "dob"></td>
							</tr>
							<tr>
								<td>Marital Status:</td>
								<td><select name="maritalStatus" onchange="marriedCheck(this);">
										  <option value="single">Single</option>
										  <option value="married">Married</option>
										  <option value="divorced">Divorced</option>
										  <option value="seperated">Seperated</option>
											<option value="widow">Widow</option>
										</select></td>
							</tr>
							<tr>
								<td>Maiden Name:</td>
								<td><input type = "text" name = "maidenName"></td>
							</tr>
							<tr>
								<td>Retire At:</td>
								<td><input type = "real" name = "retire"></td>
							</tr>
							<tr>
								<td>Address:</td>
								<td><input type = "text" name = "address"></td>
							</tr>
							<tr>
								<td>Telephone:</td>
								<td><input type = "text" name = "telephone"></td>
							</tr>
							<tr>
								<td>Contact Hours:</td>
								<td><input type = "number" name = "hours"></td>
							</tr>
							<tr>
								<td>Email:</td>
								<td><input type = "text" name = "email"></td>
							</tr>
							<tr>
								<td>Ethical /Religious beliefs that might affect Financial Planning:</td>
								<td><input type = "text" name = "ethics"></td>
							</tr>
							<tr>
								<td>Anticipated changes to your circumstances (in next 5 years):</td>
								<td><input type = "text" name = "changes"></td>
							</tr>
							<tr>
								<td>
								</td>
								<td><button type = "submit"> submit </button>
							</tr>
							<tr>
								<td>
								</td>
								<td>
							{% block mainBlock%}
							<div id = 'txt'>{{ msg }}
							</div>
							{%endblock%}
						</tr>
						</table>
						</form>
			</article>
		</section>
	</div>
		<footer class="main-footer">
			<section class="wrapper">
				<small class="copyright">copyright</small>
			</section>
		</footer>
</body>
</html>
