<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Search Clients</title>
	<meta name="author" content="Raj Chand, Morgan Jones, Reagan Vose and Dom Fonseca">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' href='img/favicon.ico' type='image/ico' />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="main-nav wrapper">
			<a href="home.html" rel="Home"><img id="site-logo" src="\static\img\logo.png" alt="Site Logo" />	</a>
			<label for="show-menu" class="show-menu"></label>
			<input type="checkbox" id="show-menu" role="button">
			<ul>
				<li><a href="\People">People</a></li>
				<li><a href="\Search">Search Clients</a></li>
				<li><a href="">Advice Areas</a></li>
				<li><a href="">Cash Flow</a></li>
				<li><a href="">Reports</a></li>
				<li><a href="\Index">LOGOUT</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<form action = "\Search\surname" method = "POST">
							Surname:
							<input type = "text" name = "surname"><br>
							Client ID:
							<input type = "text" name = "clientID"><br>

							<button type = "submit"> submit </button>
					</form>
						<!-- ======================================================== -->
					</main>
          {%block mainBlock%}
          <h2> Clients</h2>
          <table border = 1>
            <thead>
               <td>clientID</td>
               <td>title</td>
               <td>forename</td>
               <td>initial</td>
               <td>surname</td>
               <td>alt name</td>
               <td>age</td>
               <td>sex</td>
               <td>dob</td>
               <td>marital status</td>
               <td>maiden name</td>
               <td>retire?</td>
               <td>address</td>
               <td>telephone</td>
               <td>hours</td>
               <td>email</td>
               <td>ethics</td>
               <td>changes</td>
            </thead>
            {% for row in data %}
            <!-- A List of tuples so row is each item in the list
                 and then the index is the column number.-->
               <tr>
                 <td>{{row[0]}}</td>
                 <td>{{row[1]}}</td>
                 <td>{{row[2]}}</td>
                 <td>{{row[3]}}</td>
                 <td>{{row[4]}}</td>
                 <td>{{row[5]}}</td>
                 <td>{{row[6]}}</td>
                 <td>{{row[7]}}</td>
                 <td>{{row[8]}}</td>
                 <td>{{row[9]}}</td>
                 <td>{{row[10]}}</td>
                 <td>{{row[11]}}</td>
                 <td>{{row[12]}}</td>
                 <td>{{row[13]}}</td>
                 <td>{{row[14]}}</td>
                 <td>{{row[15]}}</td>
                 <td>{{row[16]}}</td>
                 <td>{{row[17]}}</td>


               </tr>
            {% endfor %}
          </table>
          {%endblock%}


				</article>
			</section>
	</div>
		<footer class="main-footer">
			<section class="wrapper">
				<small class="copyright">© 2016</small>
			</section>
		</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
