{%extends 'nologin-style.html'%}


{%block mainBlock%}
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>Try and answer these as accurately as possible. To go home <a href="\Index">Click Here</a></h2>
					<form id = "healthForm" onsubmit="return loadHealth()">
						Health Status: <input type = "text" name = "healthStatus"><br>
						Smoker Status: <input type = "text" name = "smokerStatus"><br>
						Cigarettes a day: <input type = "integer" name = "cigsADay"><br>
						Drinker Status: <input type = "text" name = "drinkerStatus"><br>
						Units per week: <input type = "integer" name = "unitsAWeek"><br>
						Height: <input type = "real" name = "height"><br>
						Weight: <input type = "real" name = "weight"><br>
						Medical Conditions: <input type = "text" name = "medicalConditions"><br>
						Hazardous Pursuits: <input type = "text" name = "hazardousPursuits"><br>
						<button type = "healthSubmit"> Submit </button>
					</form>
				<div id = 'txt'>
				</div>
				<p><a href = "\NewDependant"> Continue </a></p>
				</article>
			</section>
	</div>
		<script>
			function loadHealth() {
				var healthStatus = document.forms["healthForm"]["healthStatus"].value;
				var smokerStatus = document.forms["healthForm"]["smokerStatus"].value;
				var cigsADay = document.forms["healthForm"]["cigsADay"].value;
				var drinkerStatus = document.forms["healthForm"]["drinkerStatus"].value;
				var unitsAWeek = document.forms["healthForm"]["unitsAWeek"].value;
				var height = document.forms["healthForm"]["height"].value;
				var weight = document.forms["healthForm"]["weight"].value;
				var medicalConditions = document.forms["healthForm"]["medicalConditions"].value;
				var hazardousPursuits = document.forms["healthForm"]["hazardousPursuits"].value;
				params = 'healthStatus='+healthStatus+'&smokerStatus='+smokerStatus+'&cigsADay='+cigsADay+'&drinkerStatus='+drinkerStatus+'&unitsAWeek='+unitsAWeek+'&height='+height+'&weight='+weight+'&medicalConditions='+medicalConditions+'&hazardousPursuits='+hazardousPursuits;
				var xhttp = new XMLHttpRequest();
				xhttp.open("POST", '/Signup/addSignupHealth', true); // true is asynchronous
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.onload = function() {
					if (xhttp.readyState === 4 && xhttp.status === 200) {
						console.log(xhttp.responseText);
						document.getElementById("txt").innerHTML = xhttp.responseText;
					} else {
						console.error(xhttp.statusText);
					}
				};
				xhttp.send(params);
				console.log('i did not crash');
				return false;
		}
	</script>

	{%endblock%}
