{%extends 'nologin-style.html'%}


{%block mainBlock%}
	<main>
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>To go home <a href="\Index">Click Here</a></h2>
					<form id = "recordForm" onsubmit="return loadRecord()">
						ClientID: <input type = "text" name = "clientID"><br>
						HealthID: <input type = "text" name = "healthID"><br>
						DependantID: <input type = "text" name = "dependantID"><br>
						IncomeID: <input type = "text" name = "incomeID"><br>
						ExpenditureID: <input type = "text" name = "expenditureID"><br>
						AssetsID: <input type = "text" name = "assetsID"><br>
						<button id = "recordSubmit"> Submit </button>
					</form>
					<div id = "txt">
					</div>
					<p><a href = "\Login"> Go to Admin Page </a></p>
				</article>
			</section>
	</div>
		<script>
			function loadRecord(){
				var clientID = document.forms["recordForm"]["clientID"].value;
				var healthID = document.forms["recordForm"]["healthID"].value;
				var dependantID = document.forms["recordForm"]["dependantID"].value;
				var incomeID = document.forms["recordForm"]["incomeID"].value;
				var expenditureID = document.forms["recordForm"]["expenditureID"].value;
				var assetsID = document.forms["recordForm"]["assetsID"].value;
				params = 'clientID='+clientID+'&healthID='+healthID+'&dependantID='+dependantID+'&incomeID='+incomeID+'&expenditureID='+expenditureID+'&assetsID='+assetsID;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/NewRecord/addRecord', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
					if (xhttp.readyState === 4 && xhttp.status === 200) {
            console.log(xhttp.responseText);
            document.getElementById("txt").innerHTML = xhttp.responseText;
          } else {
            console.error(xhttp.statusText);
          }
        };
        xhttp.send(params);
        console.log('i did not crash');
        return false;
			}
		</script>

		{%endblock%}
