{%extends 'nologin-style.html'%}


{%block mainBlock%}
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>Please include appropriate currency. If you want to go back home <a href="\Index">Click Here</a></h2>
					<form id = "expenditureForm" onsubmit="return loadexpenditure()">
						Property: <input type = "text" name = "clientProperty"><br>
						Housekeeping: <input type = "text" name = "housekeeping"><br>
						Transport: <input type = "integer" name = "transport"><br>
						Dependents: <input type = "text" name = "dependents"><br>
						Pets: <input type = "integer" name = "pets"><br>
						Professional Fees: <input type = "real" name = "profFees"><br>
						Cost of Borrowing: <input type = "real" name = "borrowCosts"><br>
						Regular Savings: <input type = "text" name = "savings"><br>
						Protection Policies: <input type = "text" name = "protectionPolicies"><br>
						Other: <input type = "text" name = "other"><br>
						Discretionary Spending: <input type = "text" name = "spendings"><br>
						<button type = "expenditureSubmit"> Submit </button>
					</form>
				<div id = 'txt'>
				</div>
				<p><a href = "\NewAssets"> Continue </a></p>
				</article>
			</section>
	</div>

		<script>
			function loadexpenditure() {
				var clientProperty = document.forms["expenditureForm"]["clientProperty"].value;
				var housekeeping = document.forms["expenditureForm"]["housekeeping"].value;
				var transport = document.forms["expenditureForm"]["transport"].value;
				var dependents = document.forms["expenditureForm"]["dependents"].value;
				var pets = document.forms["expenditureForm"]["pets"].value;
				var profFees = document.forms["expenditureForm"]["profFees"].value;
				var borrowCosts = document.forms["expenditureForm"]["borrowCosts"].value;
				var savings = document.forms["expenditureForm"]["savings"].value;
				var protectionPolicies = document.forms["expenditureForm"]["protectionPolicies"].value;
				var other = document.forms["expenditureForm"]["other"].value;
				var spendings = document.forms["expenditureForm"]["spendings"].value;
				params = 'clientProperty='+clientProperty+'&housekeeping='+housekeeping+'&transport='+transport+'&dependents='+dependents+'&pets='+pets+'&profFees='+profFees+'&borrowCosts='+borrowCosts+'&savings='+savings+'&protectionPolicies='+protectionPolicies+'&other='+other+'&spendings'+spendings;
				var xhttp = new XMLHttpRequest();
				xhttp.open('POST', '/Signup/addSignupExpenditure', true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.onload = function() {
					if (xhttp.readyState === 4 && xhttp.status === 200) {
						console.log(xhttp.responseText);
						document.getElementById("txt").innerHTML = xhttp.responseText;
					} else {
						console.error(xhttp.statusText);
					}
				};
				xhttp.send(params);
				console.log('I did not crash');
				return false;
			}
		</script>
{%endblock%}
