{%extends 'nologin-style.html'%}


{%block mainBlock%}
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>Dependancies, If not applicable, then skip this section. To go home <a href="\Index">Click Here</a></h2>
					<form id = "dependantForm" onsubmit="loadDependants()">
						Dependant Name: <input type = "text" name = "dependantName"><br>
						Dependant Age: <input type = "integer" name = "dependantAge"><br>
						Dependant Gender: <select name = "dependantGender">
							<option value="M">Male</option>
							<option value="F">Female</option>
							<option value="O">Other</option>
							<option value="PNtS">Prefer not to say</option>
						</select><br>
						Dependant Disabilities: <input type = "integer" name = "dependantDisability"><br>
						<button type = "dependantSubmit"> Add </button>
					</form>
					<div id = 'txt'>
					</div>
					<p><a href = "\NewIncome"> Continue </a></p>
				</article>
			</section>
	</div>
		<script>
			function loadDependants() {
				var dependantName = document.forms["dependantForm"]["dependantName"].value;
				var dependantAge = document.forms["dependantForm"]["dependantAge"].value;
				var dependantGender = document.forms["dependantForm"]["dependantGender"].value;
				var dependantDisability = document.forms["dependantForm"]["dependantDisability"].value;
				params = 'dependantName='+dependantName+'&dependantAge='+dependantAge+'&dependantGender='+dependantGender+'&dependantDisability='+dependantDisability;
				var xhttp = new XMLHttpRequest();
				xhttp.open("POST", '/Signup/addSignupDependant', true); // true is asynchronous
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.onload = function() {
					if (xhttp.readyState === 4 && xhttp.status === 200) {
						console.log(xhttp.responseText);
						document.getElementById("txt").innerHTML = xhttp.responseText;
					} else {
						console.error(xhttp.statusText);
					}
				};
				xhttp.send(params);
				console.log('i did not crash');
				return false;
			}
		</script>
{%endblock%}
