{%extends 'nologin-style.html'%}


{%block mainBlock%}

		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>Please include appropriate currency. To go home <a href="\Index">Click Here</a></h2>
					<form action = "/Signup/addSignupIncome" method = "POST">
						<table class ="formTable">
							<tr>
								<td>Employment:</td>
								<td> <input input type="text" class ="textbox" name = "employment"></td>
							</tr>
							<tr>
								<td>self-employment:</td>
								<td> <input input type="text" class ="textbox" name = "selfEmployment"></td>
							</tr>
							<tr>
								<td>Pension:</td>
								<td> <input input type="text" class ="textbox" name = "pensions"></td>
							</tr>
							<tr>
								<td>Interest On Savings:</td>
								<td> <input input type="text" class ="textbox" name = "interest"></td>
							</tr>
							<tr>
								<td>Investment Income:</td>
								<td> <input input type="text" class ="textbox" name = "investment"></td>
							</tr>
							<tr>
								<td>Rental Income:</td>
								<td> <input input type="text" class ="textbox" name = "rental"></td>
							</tr>
							<tr>
								<td>Capital disposals:</td>
								<td> <input input type="text" class ="textbox" name = "capital"></td>
							</tr>
							<tr>
								<td>maintenance:</td>
								<td> <input input type="text" class ="textbox" name = "maintenance"></td>
							</tr>
							<tr>
								<td>Insurance:</td>
								<td> <input input type="text" class ="textbox" name = "insurance"></td>
							</tr>
							<tr>
								<td>State Benefit:</td>
								<td> <input input type="text" class ="textbox" name = "benefit"></td>
							</tr>
					</table>
					<button type = "submit"> submit </button>
				</form>
				</article>
				<p><a href = "\NewExpenditure"> Continue </a></p>
			</section>
	</div>
{%endblock%}
