{%extends 'nologin-style.html'%}


{%block mainBlock%}

		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>From here you will fill in a few forms, to go back home <a href="\Index">Click Here</a></h2>
					<form action = "/Signup/addSignupClient" method = "POST">
						<table class ="formTable">
							<tr>
								<td>Title:</td>
								<td> <select name="title">
										<option value="miss">Miss</option>
										<option value="mr">Mr</option>
										<option value="mrs">Mrs</option>
										<option value="ms">Ms</option>
										<option value="mx">Mx</option>
										<option value="master">Master</option>
										<option value="dr">Dr</option>
										<option value="lord">Lord</option>
										<option value="lady">Lady</option>
									</select></td>
							</tr>
							<tr>
								<td>Forename:</td>
								<td> <input type = "text" name = "forename"></td>
							</tr>
							<tr>
								<td>Initial:</td>
								<td><input type = "text" name = "initial"></td>
							</tr>
							<tr>
								<td>Surname: </td>
								<td><input type = "text" name = "surname"></td>
						</tr>
						<tr>
							<td>Prefered Name:</td>
							<td><input type = "string" name = "preferedName"></td>
						</tr>
						<tr>
							<td>Age:</td>
							<td><input type = "real" name = "age"></td>
						</tr>
						<tr>
							<td>Sex:</td>
							<td><select name="sex">
										<option value="female">Female</option>
										<option value="male">Male</option>
										<option value="other">Other</option>
										<option value="noSay">Perfer not to say</option>
									</select></td>
						</tr>
						<tr>
							<td>Date Of Birth:</td>
							<td><input type = "date" data-date="" data-date-format="DD MMMM YYYY" name = "dob"></td>
						</tr>
						<tr>
							<td>Marital Status:</td>
							<td><select name="maritalStatus" onchange="marriedCheck(this);">
										<option value="single">Single</option>
										<option value="married">Married</option>
										<option value="divorced">Divorced</option>
										<option value="seperated">Seperated</option>
										<option value="widow">Widow</option>
									</select></td>
						</tr>
						<tr>
							<td>Maiden Name:</td>
							<td><input type = "text" name = "maidenName"></td>
						</tr>
						<tr>
							<td>Retire At:</td>
							<td><input type = "real" name = "retire"></td>
						</tr>
						<tr>
							<td>Address:</td>
							<td><input type = "text" name = "address"></td>
						</tr>
						<tr>
							<td>Telephone:</td>
							<td><input type = "text" name = "telephone"></td>
						</tr>
						<tr>
							<td>Contact Hours:</td>
							<td><input type = "number" name = "hours"></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input type = "text" name = "email"></td>
						</tr>
						<tr>
							<td>Ethical /Religious beliefs that might affect Financial Planning:</td>
							<td><input type = "text" name = "ethics"></td>
						</tr>
						<tr>
							<td>Anticipated changes to your circumstances (in next 5 years):</td>
							<td><input type = "text" name = "changes"></td>
						</tr>
						<tr>
							<td>
							</td>
							<td><button type = "submit"> submit </button>
						</tr>
						<tr>
							<td>
							</td>
							<td>
					</tr>
					</table>
					</form>
				</article>
				<p><a href = "\SignupHealth"> Continue </a></p>
			</section>
	</div>
{%endblock%}
