{%extends 'nologin-style.html'%}


{%block mainBlock%}
		<div class="wrapper" id="anchor">
			<section>
				<article class="content">
					<h2>Just a few more. To go home <a href="\Index">Click Here</a></h2>
					<form id = "assetsForm" onsubmit="return loadAssets()">
						Pensions: <input type = "text" name = "pensions"><br>
						Investments: <input type = "text" name = "investments"><br>
						Rented Properties: <input type = "integer" name = "rentalProperties"><br>
						Vehicles: <input type = "text" name = "vehicles"><br>
						Personal Effects: <input type = "integer" name = "personalEffects"><br>
						Business Interests: <input type = "real" name = "businessInterests"><br>
						<button type = "assetsSubmit"> Submit </button>
					</form>
					<div id = 'txt'>
					</div>
					<p><a href = "\NewRecord"> Continue </a></p>
				</article>
			</section>
	</div>
		<script>
			function loadAssets(){
				var pensions = document.forms["assetsForm"]["pensions"].value;
				var investments = document.forms["assetsForm"]["investments"].value;
				var rentalProperties = document.forms["assetsForm"]["rentalProperties"].value;
				var vehicles = document.forms["assetsForm"]["vehicles"].value;
				var personalEffects = document.forms["assetsForm"]["personalEffects"].value;
				var businessInterests = document.forms["assetsForm"]["businessInterests"].value;
				params = 'pensions='+pensions+'&investments='+investments+'&rentalProperties='+rentalProperties+'&vehicles='+vehicles+'&personalEffects='+personalEffects+'&businessInterests='+businessInterests;
				var xhttp = new XMLHttpRequest();
   			xhttp.open("POST", '/Signup/addSignupAssets', true); // true is asynchronous
   			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   			xhttp.onload = function() {
	     	  if (xhttp.readyState === 4 && xhttp.status === 200) {
       		  console.log(xhttp.responseText);
       			document.getElementById("txt").innerHTML = xhttp.responseText;
     			} else {
       			console.error(xhttp.statusText);
     			}
   			};
  			xhttp.send(params);
				console.log('i did not crash');
   			return false;


			}
		</script>
{%endblock%}
